### DB
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#### GOOGLE OAUTH
gl_client_id=
gl_client_secret=

#### 42 OAUTH
ft_client_id=
ft_client_secret=

### JWT
JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=
JWT_SECRET=
JWT_ALGORITHM=